<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Asia-Pacific</title>

    <!-- D3 Library -->
    <script type="text/javascript" src="../static/lib/d3.v5.min.js"></script>
    <script type="text/javascript" src="../static/lib/d3-geo-projection.v2.min.js"></script>
    <script type="text/javascript" src="../static/lib/d3-dsv.min.js"></script>
    <script type="text/javascript" src="../static/lib/d3-simple-slider.min.js"></script>
    <script type="text/javascript" src="../static/lib/topojson.v2.min.js"></script>
    <script type="text/javascript" src="../static/lib/d3-tip.min.js"></script>
    <script type="text/javascript" src="../static/lib/d3-legend.min.js"></script>

    <!-- Bootstrap Library -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- SocketIO library -->
    <!--    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>-->
    <script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>

    <!-- Our custom Javascript file -->
    <script src="../static/index.js"></script>

    <!-- Our custom Stylesheet CSS file -->
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>


<div class="container">
    <div class="row justify-content-md-center">
        <h1> Wildfire and Climate Change in the US </h1>
    </div>

    <div class="d-flex flex-row justify-content-around">
        <div class="p-2"></div>

        <div class="p-2">Yang Li</div>
        <div class="p-2">Hermawan Mulyono</div>
        <div class="p-2">Ying Chen</div>
        <div class="p-2">Zhiyin Lu</div>
        <div class="p-2">Desmond Chan</div>

        <div class="p-2"></div>
    </div>

    <div class="d-flex flex-row justify-content-around">
        <div class="p-2"></div>

        <div class="p-2"><em>Time bar and "Display wildfires" are disabled when "Real-time prediction" selected</em></div>

        <div class="p-2"></div>
    </div>

    <div class="row">
        <div class="col-10">
            <div class="row" id="wildfire-visualization">
                <!-- Javascript will add svg here -->
            </div>

            <div class="row">
                <div class="col-11">
                    <input step="0.25" type="range" class="custom-range" id="timeSelector" width="100%" min={{ configs.min_year }} max={{ configs.max_year }}>
                    <span id="timeSelected"></span>
                </div>
            </div>
        </div>

        <div class="col-2">
            <div class="row">
                <div class="col-sm">
                    <div class="row">
                        <b>Displayed Data</b>
                    </div>

                    <br>

                    <!-- Wildfire checkbox -->
                    <div class="row">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="wildfire-checkbox" checked>
                            <label class="form-check-label" for="wildfire-checkbox">
                                Display wildfires
                            </label>
                        </div>
                    </div>

                    <br>

                    <div class="row">
                        Additional Data
                    </div>

                    <!-- Fuel radio button -->
                    <div class="row">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="data-display" id="fuel-radio" checked>
                            <label class="form-check-label" for="fuel-radio">
                                Fuel
                            </label>
                        </div>
                    </div>

                    <!-- Temperature radio button -->
                    <div class="row">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="data-display" id="temperature-radio">
                            <label class="form-check-label" for="temperature-radio">
                                Temperature
                            </label>
                        </div>
                    </div>

                    <!-- Precipitation radio button -->
                    <div class="row">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="data-display" id="rain-radio">
                            <label class="form-check-label" for="rain-radio">
                                Rain
                            </label>
                        </div>
                    </div>

                    <!-- Wind radio button -->
                    <div class="row">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="data-display" id="wind-radio">
                            <label class="form-check-label" for="wind-radio">
                                Wind
                            </label>
                        </div>
                    </div>

                    <!-- Machine learning prediction radio button -->
                    <div class="row">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="data-display" id="mlpreds-radio">
                            <label class="form-check-label" for="mlpred-radio" id="ml_text">
                                Real-time prediction
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="column-sm">
                    <br>
                    <div class="row">
                        <b>Legend</b>
                    </div>
                    <div class="row">
                        <div id="legend">
                            <!-- Javascript will add svg here -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>